{
    "discord": {
        "token": "",
        "channelId": ""
    },
    "jabber": {
        "userJid": "user@jabber.org",
        "userPass": "pass",
        "showPresence": "false"
    }
    "roomList": [
        {
            "nick": "Yuki",
            "roomChannelId": "000000000000000000",
            "roomJid": "some-conf@conference.jabber.org"
        },
        {
            "nick": "Yuki",
            "roomChannelId": "000000000000000000",
            "roomJid": "another-conf@conference.jabber.org"
        }
    ]
}