{
    "discord": {
        "token": "",
        "channelId": ""
    },
    "jabber": {
        "userJid": "user@jabber.org",
        "userPass": "pass",
        "showPresence": true,
        "reconnectIntervalSec": 600
    }
    "roomList": [
        {
            "nick": "Yuki",
            "roomChannelId": "000000000000000000",
            "roomJid": "some-conf@conference.jabber.org",
            "fromNickMask": "from %nickname%: ",
            "showPresence": false
        },
        {
            "nick": "Yuki",
            "roomChannelId": "000000000000000000",
            "roomJid": "another-conf@conference.jabber.org",
            "fromNickMask": "<%nickname%>: "
        }
    ]
}