{
    "prefix": "!",
    "discord": {
        /**
         * CLIENT SECRET from Application page (https://discordapp.com/developers/applications/)
         */
        "token": "",

        /**
         * ID of the user who will be the Administrator.
         * The bot sends jabber errors via DM, jabber captcha message, DM from jabber conferences.
         */
        "adminId": "000000000000000000"
    },
    "jabber": {
        "userJid": "user@jabber.org",
        "userPass": "password",

        /**
         * Show message on user connect/leave room.
         * Can be overridden in every room.
         */
        "showPresence": true,
        /**
         * Send any stanza errors to this Discord channel ID.
         * If empty, sends errors into linked channel.
         * Can be overridden in every room.
         */
        "stanzaErrorsChannelId": "",

        "reconnectIntervalSec": 600
    },
    /**
     * Array of rooms connections
     */
    "roomList": [
        {
            "nick": "Yuki",
            // Discord channel ID
            "roomChannelId": "000000000000000000",
            "roomJid": "some-conf@conference.jabber.org",

            /**
             * Sync settings:
             * both — Send messages in both directions (default).
             * to_jabber — Send messages only from Discord to Jabber.
             * to_discord — Send messages only from Jabber to Discord.
             */
            "sync": "both",

            /**
             * For example:
             *    "<%nickname%>: "
             *    ""
             *    "%nickname%: "
             */
            "fromNickMask": "from %nickname%: ",
            "showPresence": false
        }
//        , {
//            "nick": "Yukari",
//            "roomChannelId": "000000000000000000",
//            "roomJid": "another-conf@conference.jabber.org",
//            "fromNickMask": "<%nickname%>: "
//        }
    ]
}